 1. Check if a given string is a palindrome.

In [12]:
s = "madam" # string

if s == s[::-1]:
    print("Yes")
else:
    print("No")

Yes

 2. Count the number of vowels in a string and store the result in a dictionary.

In [45]:
s = "Python Programming"
vowels = {'a', 'e', 'i', 'o', 'u'}
c = sum(1 for ch in s if ch in vowels)

print("Number of vowels:", c)

Number of vowels: 4

 3. Convert the first letter of each word in a string to uppercase (title case manually).

In [23]:
s = "hello!welcome in world of python"

result = s.title()
print(result)

Hello!Welcome In World Of Python

4. Find the most frequently occurring character in a string.

In [25]:
def find_most_frequent_char(input_string):
    char_counts = {}
    for char in input_string:
        char_counts[char] = char_counts.get(char, 0) + 1

    most_frequent_char = None
    max_count = 0

    for char, count in char_counts.items():
        if count > max_count:
            max_count = count
            most_frequent_char = char

    return most_frequent_char

s = "hello world"
result = find_most_frequent_char(s)
print(f"The most frequent character is: {result}")

The most frequent character is: l

 5. Count digits, alphabets, and special characters separately in a string.

 6. Remove duplicate elements from a list without using set().

In [34]:
def remove_duplicates_without_set(input_list):
    unique_list = []
    for item in input_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list
my_list = [2, 1, 2, 3, 4, 3, 5, 1, 6, 4, 5, 6 ]
unique_elements = remove_duplicates_without_set(my_list)
print(unique_elements)

[2, 1, 3, 4, 5, 6]

 8. Find the 2nd largest and 2nd smallest element in a list.

In [36]:
a = [12, 45, 2, 41, 31, 10, 8, 6, 4]

l2 = max(a)
s2 = min(a)

print(f" 2nd largest: {l2}, 2nd Smallest: {s2}")

 2nd largest: 45, 2nd Smallest: 2

 9. Store the square of each element of a list into a new list (using list comprehension).

In [38]:
a = [1, 2, 3, 4, 5]
res = [val ** 2 for val in a]
print(res)

[1, 4, 9, 16, 25]

 10. Flatten a nested list into a single list.

In [41]:
lis = [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

flatList = [element for innerList in lis for element in innerList]

print('List', lis)

print('Flat List', flatList)

List [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
Flat List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 11. Reverse a tuple without using [::-1].

In [42]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = tuple(reversed(my_tuple))
print(reversed_tuple)

(5, 4, 3, 2, 1)